.title {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* text-transform: uppercase; */
  font-size: 3rem;
  line-height: 4rem;
  color: var(--color-dark-green);
}

.projects {
  display: flex;
  flex-wrap: wrap;
}
